<nav class="#ffffff white side-nav">
    <div class="container">       
      <div class="nav-wrapper">
        <a href="#" class="brand-logo left"><img src="assets/images/logo.png"></a>
        <ul id="nav-mobile" class="center hide-on-med-and-down" style="margin-left: 15%;">
          <li><a href="/">HOME</a></li>
          <li><a href="/shop/">SHOP</a></li>      
          <li><a href="/contact/">CONTACT</a></li>
           <li><a href="collapsible.html">ABOUT US</a></li>
        </ul>
        <ul id="nav-mobile" class="right ">
          <li><a href="sass.html"><i class="material-icons">search</i></a></li>
          <li><a href="/cart"><i class="material-icons">shopping_cart</i></a></li>
          <li><a href="collapsible.html"><i class="material-icons">shopping_basket</i></a></li>
        </ul>
      </div>
    </div>
</nav>
      