<ul id="slide-out" class="sidenav sidenav-fixed">
  <li>
    <div class="sidebar_header">
      <img src="assets/images/logo.png">
    </div>
  </li>
  <li><a href="#!"><i class="material-icons">dashboard</i>DASHBOARD</a></li>
  <li>
    <ul class="collapsible collapsible-accordion" style="padding-left: 15px; ">
      <li>
        <a class="collapsible-header"><span><i class="material-icons left">folder</i>Products</span></a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!"><i class="material-icons">add</i>Add Products</a></li>
            <li><a href="#!"><i class="material-icons">edit</i>Modify Products</a></li>
            <li><a href="#!"><i class="material-icons">delete</i>Remove Products</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li><a href="#!"><i class="material-icons">local_shipping</i>ORDERS</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>