<app-header></app-header>


<nav class="N/A transparent"  style="border-bottom:1px solid #eee; box-shadow: none;">
	<div class="container">
		  <div class="nav-wrapper">
		    <div class="col s12">
		      <a href="/" class="breadcrumb">HOME</a>
		      <a href="/Contact" class="breadcrumb ">Contact</a>
		    </div>
		  </div>
	</div>
</nav>

<!-- <div class="container"> -->
	
	<div class="extra_holder">

		<div class="container contact-form">
			<h2>Contact Us</h2>	

			<div class="row" style="margin-top: 40px;">
				<div class="col s12 m2">
					<h5><i class="material-icons left">domain</i>ADDRESS</h5>
					<label>Strata 100Emerald Ave, San Antonio, Pasig, Metro Manila</label>
				</div>
				<div class="col s12 m2">
					<h5><i class="material-icons left">email</i>EMAIL</h5>
					<label>Fashbelle@clothing.com</label>
				</div>
				<div class="col s12 m2">
					<h5><i class="material-icons left">phone</i>PHONE</h5>
					<label>+6393334444222</label>
				</div>
			</div>
			<div class="contact-card">
				<h5>REACH US</h5>
				<div class="row" style="margin-top: 10px;">
				  <div class="input-field col s6">
				    <input placeholder="" id="first_name" type="text" class="validate">
				    <label for="first_name">First Name</label>
				  </div>
				  <div class="input-field col s6">
				    <input placeholder="" id="last_name" type="text" class="validate">
				    <label for="last_name">Last Name</label>
				  </div>
				
			       <div class="input-field col s12">
			         <textarea placeholder="" id="contact-text" class="materialize-textarea"></textarea>
			         <label for="contact-text">Message</label>
			       </div>
			       <button class="btn waves-effect waves-light right #ff1744 red accent-3" type="submit" name="action">Submit
			         <i class="material-icons right">send</i>
			       </button>
			             
		       </div>	

			</div>
		</div>



		<app-location></app-location>      
	</div>
<!-- </div> -->

<app-footer></app-footer>
