<app-header></app-header>
<div class="container">
	<div class="cart_header">
		<h1>CART</h1>
	</div>


	<div class="cart_item_holder">

		<div class="row" style="border-bottom: 1px solid #eee;">
			<div class="col m6 s12">
			
			</div>
			<div class="col m3 s6 second_row" style="padding: 20px;">
				Qyt
			</div>
			<div class="col m3 s6 third_row" style="padding: 20px;">Total</div>
		</div>

		<div class="row">
			<div class="col m6 s12">
				<div class="image_container left" >
					<img class="left" src="../assets/images/rated_sample_1.png">
				</div>
            	<div class="image_info_container left" >
            		<h6>The FashBelle Fasion Dress</h6>
            		<p>Yellow / Meduim</p>
            		<button  class="btn waves-effect waves-ligh btn-small black">REMOVE </button>
            	</div>
			</div>
			<div class="col m3 s6 second_row">
				<input type="number" min="0" value="1">
			</div>
			<div class="col m3 s6 third_row" ><p>$0.87</p></div>
		</div>	
		

		<div class="row">
			<div class="col m6 s12">
				<div class="image_container left" >
					<img class="left" src="../assets/images/rated_sample_1.png">
				</div>
            	<div class="image_info_container left" >
            		<h6>The FashBelle Fasion Dress</h6>
            		<p>Yellow / Meduim</p>
            		<button  class="btn waves-effect waves-ligh btn-small black">REMOVE </button>
            	</div>
			</div>
			<div class="col m3 s6 second_row">
				<input type="number" min="0" value="1">
			</div>
			<div class="col m3 s6 third_row" ><p>$0.87</p></div>
		</div>


		<div class="row">
			<div class="col m6 s12">
				<div class="image_container left" >
					<img class="left" src="../assets/images/rated_sample_1.png">
				</div>
            	<div class="image_info_container left" >
            		<h6>The FashBelle Fasion Dress</h6>
            		<p>Yellow / Meduim</p>
            		<button  class="btn waves-effect waves-ligh btn-small black">REMOVE </button>
            	</div>
			</div>
			<div class="col m3 s6 second_row">
				<input type="number" min="0" value="1">
			</div>
			<div class="col m3 s6 third_row" ><p>$0.87</p></div>
		</div>


		<div class="row">
			<div class="col m6 s12">
				<div class="image_container left" >
					<img class="left" src="../assets/images/rated_sample_1.png">
				</div>
            	<div class="image_info_container left" >
            		<h6>The FashBelle Fasion Dress</h6>
            		<p>Yellow / Meduim</p>
            		<button  class="btn waves-effect waves-ligh btn-small black">REMOVE </button>
            	</div>
			</div>
			<div class="col m3 s6 second_row">
				<input type="number" min="0" value="1">
			</div>
			<div class="col m3 s6 third_row" ><p>$0.87</p></div>
		</div>			
	</div>
	<!-- Start of the table -->
	<!-- <table class=" cart_table">
        <thead style="border-bottom: 1px solid #eee;">
          <tr>
              <th></th>
              <th style="text-align: center;">Qyt</th>
              <th  style="text-align: right;">Total</th>
          </tr>
        </thead> -->

        <!-- Cart Body item -->
    <!--     <tbody>
          <tr>
            <td class="first_row">
            	<img class="left" src="../assets/images/rated_sample_1.png">
            	<div class="image_info_container left">
            		<h6>The FashBelle Fasion Dress</h6>
            		<p>Yellow / Meduim</p>
            		<button  class="btn waves-effect waves-ligh btn-small black">REMOVE </button>
            	</div>
            </td>
            <td class="second_row"><input type="number" min="0" value="1"></td>
            <td class="thrid_row">$0.87</td>
          </tr>



 
        </tbody>
 -->
        <!-- Enc Cart Body item -->
	  <!-- </table> -->
	  <!-- End table -->

	 

	  <div class="cart_total">
	  	<div class="inner_cart_total right">
	  		<div class="row" style="margin-bottom: 0;">
	  			<div class="col m6 s6">
	  				<h6>Subtotal</h6>
	  			</div>
	  			<div class="col m6 s6">
	  				<h6>₱5,193.00</h6>
	  			</div> 
	  		</div>
	  		<small>Discounts, promotions, and shipping fees will be calculated in the checkout page.</small>
	  		<div class="cart_line">
	  			<div class="inner_cart_line right"></div>
	  		</div>
	  		<button class="btn waves-effect waves-ligh btn-small black">CHECK OUT</button>

	  	</div>
	  </div>
	            
</div>
<app-footer></app-footer>