
<!-- Modal Structure -->
<div id="item_model_view" class="modal">
	<div class="modal-content">
		<div class="row">
			<div class="col m12 l7 s12">
				<div class="row">
					<div class="col m8 s12">
						<div class="img_thumb_view">
							<img class="inner_img_thumb_view" src="{{productModal.productImage}}" >
						</div>
					</div>
					<div class="col m2 s12">
						<div class="row view_modal_thumb">
							<div class="col m8 s12">
								<img class="img_thumb" src="../../assets/images/rated_sample_2.png">
							</div>
							<div class="col m8 s12">
								<img class="img_thumb" src="../../assets/images/rated_sample_2.png">
							</div>
							<div class="col m8 s12">
								<img class="img_thumb" src="../../assets/images/rated_sample_2.png">
							</div>
							<div class="col m8 s12">
								<img class="img_thumb" src="../../assets/images/rated_sample_2.png">
							</div>
							<div class="col m8 s12">
								<img class="img_thumb" src="../../assets/images/rated_sample_2.png">
							</div>
						</div>
					</div>

				</div>
			</div>
		   	<div class="col m12 l4 s12 right">
		   		<div class="modal_content">
		   			<h5>{{productModal.productName}}</h5>
		   			<p>{{productModal.productPrice}}</p>
		   		</div>

		   		<div class="modal_content">
		   			<p>COLOR : YELLOW</p>
		   			<div class="color-box yellow"></div>
		   			<div class="color-box red"></div>
		   			<div class="color-box black"></div>

		   			<div class="row" style="margin-top: 20px;">
		   				<div class="input-field col s12 m6">
		   				  <select>
		   				    <option value="" disabled selected>Select Size</option>
		   				    <option value="1">Small</option>
		   				    <option value="2">Meduim</option>
		   				    <option value="3">large</option>
		   				    <option value="3">Extra Large</option>
		   				  </select>
		   				  <label>SIZE</label>
		   				</div>
		   				<div class="input-field col s12 m6">
		   				 	<input  id="icon_telephone" type="number" min="1" step="1" value="1" style="text-align: center;">
		   				 	<label for="icon_telephone">QYT</label>
		   				</div>
		   				<button class="waves-effect waves-red btn-flat black" style="width: 100%; color: white;">ADD TO CART</button>
		   				
		   			</div>
		   		</div>

		   		<!-- <div class="modal_content"> -->
		   			<ul class="collapsible expandable">
		   			  <li class="active">
		   			    <div class="collapsible-header"><i class="material-icons">info</i>Product description</div>
		   			    <div class="collapsible-body">
		   			    	<p><strong>Product Details</strong></p>
		   			    	<ul>
		   			    		<li><label>Boxy</label></li>
		   			    		<li><label>Solid</label></li>
		   			    		<li><label>Graphic Print</label></li>
		   			    		<li><label>Single Jersey</label></li>
		   			    		<li><label>Circular Knit</label></li>
		   			    		<li><label>60% Cotton 40% Polyester</label></li>
		   			    	</ul>

		   			    	<p><strong>Product Code</strong></p>
		   			    	<ul>
		   			    		<li><label>945388</label></li>
		   			    	</ul>

		   			    	<p><strong>Model's Body Measurements</strong></p>
		   			    	<ul>
		   			    		<li><label>Height: 5'7"</label></li>
		   			    		<li><label>Chest:31"</label></li>
		   			    		<li><label>Waist: 25.5"</label></li>
		   			    		<li><label>Hips: 35"</label></li>
		   			    		<li><label> </label></li>
		   			    		<li><label>Model is wearing Size: Small</label></li>
		   			    	</ul>

		   			    	<p><strong>Sizing And Fit</strong></p>
		   			    	<ul>
		   			    		<li><label>Fits true to size, take your normal </label></li>
		   			    	</ul>

		   			    	<p><strong>Taking care of me </strong></p>
		   			    	<ul>
		   			    		<li><label>Wash according to care label attached</label></li>
		   			    	</ul>

		   			    </div>
		   			  </li>
		   			  <li>
		   			    <div class="collapsible-header"><i class="material-icons">local_shipping</i>Shipping & Delivery</div>
		   			    <div class="collapsible-body">
		   			    	<p>Shipping & Delivery to Philippine residents only.</p>
		   			    	<p>Our Online Store receives orders non-stop and you will receive your order based on the standard delivery times below:</p>

		   			    	<table>
	   			    	       <thead>
	   			    	         <tr>
	   			    	             <th>AREA</th>
	   			    	             <th>DELIVERY TIME</th>
	   			    	         </tr>
	   			    	       </thead>

	   			    	       <tbody>
	   			    	         <tr>
	   			    	           <td>Metro Manila</td>
	   			    	           <td>3-5 working days</td>
	   			    	         </tr>
	   			    	         <tr>
	   			    	           <td>Provincial</td>
	   			    	           <td>5-7 working days</td>
	   			    	         </tr>
	   			    	       </tbody>
	   			    	     </table>

	   			    	     <p>A standard shipping fee of Php 90 applies in the Philippines for orders less than Php 1,200. Shipping is free for orders above Php 1,200.</p>

	   			    	     <p>If you're not around when the package gets delivered, a courier may call or send you an SMS to confirm if they can leave your order with any authorized representative who is present at your shipping address. Your authorized representative will be asked to sign for the package on your behalf.</p>

	   			    	     <p>Please expect a delay in receiving your orders during sale events, special holidays, and inclement weather. Be assured that we continuously work with our shipping partners to get your orders to you the soonest time possible.</p>
		   			    </div>
		   			  </li>
		   			  <li>
		   			    <div class="collapsible-header"><i class="material-icons">mood_bad</i>Return Policy</div>
		   			    <div class="collapsible-body">
		   			    	<p><strong>Online Store Return Conditions:</strong></p>
		   			    	<ol>
		   			    		<li><label>You have fifteen (15) days to return an item from the date it was purchased</label></li>
		   			    		<li><label>Your item must be accompanied by the sales invoice before any return may be evaluated for processing</label></li>
		   			    		<li><label>Returned items must be unused and in its original packaging (with tags intact)</label></li>
		   			    		<li><label>Your item may only be returned/exchanged once unless the return is due to manufacturing defect</label></li>
		   			    	</ol>

		   			    	<p><strong>Online Store Accepted Reasons for Return:</strong></p>
		   			    	<ol>
		   			    		<li><label>If the item has a manufacturing defect; or</label></li>
		   			    		<li><label> For change of size and ite</label></li>
		   			    	</ol>
		   			    </div>
		   			  </li>
		   			</ul>
		   		<!-- </div> -->



		   	</div>

		</div>
	</div>
 
</div>
