<app-header></app-header>

<div class="web-home-content #fafafa grey lighten-5">
	<div class="row">
		<div class="col m6 s12">
			<div class="home_title">
				<h1>FASHBELLE STORE</h1>
				<a class="waves-effect waves-light btn-large #000000 black">SHOP</a>
			</div>
		</div>	
		<div class="col m6 s12" ><img src="assets/images/home_model.png" class="home_model_picture"></div>	
	</div>
</div>
<div class="container" style="overflow: hidden;">
	<div class="col-title">
		<h4>FASHBELLE</h4>
		<h4>ITEM'S</h4>
	</div>

	<div class="row">
		<div class="col m12 l4 s12" data-aos="fade-right">
			<div class="item-box waves-effect waves-light hats">
				<h4>HATS</h4>
			</div>
		</div>
		<div class="col m12 l4 s12" data-aos="fade-down">
			<div class="item-box waves-effect waves-light dress">
				<h4>DRESS</h4>
			</div>
		</div>
		<div class="col m12 l4 s12" data-aos="fade-left">
			<div class="item-box waves-effect waves-light bags">
				<h4>BAGS</h4>
			</div>
		</div>
		<div class="col m12 l4 s12" data-aos="fade-right">
			<div class="item-box waves-effect waves-light pants">
				<h4>PANTS</h4>
			</div>
		</div>
		<div class="col  m12 l4 s12" data-aos="fade-up">
			<div class="item-box waves-effect waves-light shoes">
				<h4>SHOES</h4>
			</div>
		</div>
		<div class="col  m12 l4 s12" data-aos="fade-left">
			<div class="item-box waves-effect waves-light sweater">
				<h4>SWEATER</h4>
			</div>
		</div>
	</div>
</div>


<div class="container">	
	<div class="col-title">
		<h4>FASHBELLE</h4>
		<h4>MOST RATED</h4>
	</div>

	<div class="row most-rated-parent">
			
		<div class="most-rated col s12 m4">
			<div class="rated-item">
				<img src="assets//images/rated_sample_1.png">
				<div class="item_overlay">
					<h2>YELLOW DRESS</h2>
					<div class="rating_holder">
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons">star</i></span>
					</div>
					<button class="waves-effect waves-light btn #000000 black">SHOP </button>
				</div>
			</div>
		</div>
		<div class="most-rated col s12 m4">
			<div class="rated-item">
				<img src="assets//images/rated_sample_2.png">
				<div class="item_overlay">
					<h2>PINK COAT</h2>
					<div class="rating_holder">
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons">star</i></span>
					</div>
					<button class="waves-effect waves-light btn #000000 black">SHOP </button>
				</div>
			</div>
		</div>
		<div class="most-rated col s12 m4">
			<div class="rated-item">
				<img src="assets//images/rated_sample_3.png">
				<div class="item_overlay">
					<h2>FASHION DRESS</h2>
					<div class="rating_holder">
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons ">star</i></span>
						<span><i class="material-icons">star</i></span>
					</div>
					<button class="waves-effect waves-light btn #000000 black">SHOP </button>
				</div>
			</div>
		</div>
		<div class="most-rated col s12 m4">
			<div class="rated-item">
				<img src="assets//images/rated_sample_4.png">
				<div class="item_overlay">
					<h2>PINK SWEATER</h2>
					<div class="rating_holder">
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons">star</i></span>
					</div>
					<button class="waves-effect waves-light btn #000000 black">SHOP </button>
				</div>
			</div>
		</div>
		<div class="most-rated col s12 m4">
			<div class="rated-item">
				<img src="assets//images/rated_sample_5.png">
				<div class="item_overlay">
					<h2>POLKA DRESS</h2>
					<div class="rating_holder">
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons s-active">star</i></span>
						<span><i class="material-icons s-active">star</i></span>
					</div>
					<button class="waves-effect waves-light btn #000000 black">SHOP </button>
				</div>
			</div>
		</div>	


	</div>
	<div class="button_ctrl_holder">
		<button class="next-btn-slide"><i class="material-icons medium">navigate_before</i></button>
		<button class="prev-btn-slide"><i class="material-icons medium">navigate_next</i></button>
	</div>

</div>


<app-item-view></app-item-view>
<app-testimonial></app-testimonial> 
<app-footer></app-footer>
