<app-header></app-header>

<div id="main_container">
	<div class="web-home-content #fafafa grey lighten-5">
		<div class="row">
			<div class="col m6 s12">
				<div class="home_title">
					<h1>NEW ARRIVALS</h1>
					<a class="waves-effect waves-red btn-large #000000 black">SHOP</a>
				</div>
			</div>	
			<div class="col m6 s12" style="text-align: left;"><img src="assets/images/shop_model.png" class="home_model_picture"></div>	
		</div>
	</div>

	<nav class="N/A transparent"  style="border-bottom:1px solid #eee; box-shadow: none;">
		<div class="container">
			  <div class="nav-wrapper">
			    <div class="col s12">
			      <a href="/" class="breadcrumb">HOME</a>
			      <a href="/SHOP" class="breadcrumb ">SHOP</a>
			    </div>
			  </div>
		</div>
	</nav>

	
	<div class="container">
		<div class="row">

			<div class="col m9 s12">

				<div class="row">
					<div class="col m12 s12 l6">	
						<blockquote>
						   <h2>SHOP</h2>
						</blockquote>
					</div>
					<div class="col m12 s12 l6" style="padding-top: 50px;">	
						<!-- Dropdown Trigger -->
						<a class='dropdown-trigger btn red accent-3  left' style="margin-right: 5px;" href='#' data-target='dropdown1'><i class="material-icons right">arrow_drop_down</i>REFERENCE</a>

						<!-- Dropdown Structure -->
						<ul id='dropdown1' class='dropdown-content ' >
						  <li><a href="#!">Relevance</a></li>
						  <li><a href="#!">Name A - Z</a></li>
						   <li><a href="#!">Name Z - A</a></li>
						  <li class="divider" tabindex="-1"></li>
						  <li><a href="#!">three</a></li>
						  <li><a href="#!">Price, low to high</a></li>
						  <li><a href="#!">Price, high to low</a></li>
						</ul>

						<a class='dropdown-trigger btn red accent-3  left ' href='#' data-target='dropdown2'><i class="material-icons right">arrow_drop_down</i>Latest</a>

						<!-- Dropdown Structure -->
						<ul id='dropdown2' class='dropdown-content ' >
						  <li><a href="#!">Dress</a></li>
						  <li><a href="#!">Sweater</a></li>
						   <li><a href="#!">Shoes</a></li>
						 
						</ul>

					</div>

				</div>
				
				<div class="content_holder">
					<div class="row">


						<!-- <div class="col m12 l6 s12" data-aos="fade-up" *ngFor="let item  of ShopItem"> -->
						<div class="col m12 l6 s12">
							
							<div class="shop-item">
								<img src="assets//images/rated_sample_2.png">
								<div class="item_overlay">
									<h2>PINK COAT</h2>
									<!-- <button class="waves-effect waves-red btn #000000 black modal-trigger" data-target="item_model_view" (click)="itemView(item)">QUICK VIEW</button> -->
									<button class="waves-effect waves-red btn #000000 black modal-trigger" data-target="item_model_view" >QUICK VIEW</button>
								</div>
							</div>
							<div class="item_description">
								<h5>PINK COAT</h5>
								<h6>P999</h6>
								<div class="rating_holder">
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons">star</i></span>
								</div>
							</div>


							
						</div>

						<div class="col m12 l6 s12">
							
							<div class="shop-item">
								<img src="assets//images/rated_sample_3.png">
								<div class="item_overlay">
									<h2>YELLOW DRESS</h2>
									<button class="waves-effect waves-red btn #000000 black modal-trigger" data-target="item_model_view">QUICK VIEW</button>
								</div>
							</div>
							<div class="item_description">
								<h5>YELLOW DRESS</h5>
								<h6>P800</h6>
								<div class="rating_holder">
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons">star</i></span>
								</div>
							</div>


							
						</div>

						<div class="col m12 l6 s12">
							
							<div class="shop-item">
								<img src="assets//images/rated_sample_4.png">
								<div class="item_overlay">
									<h2>FASHION DRESS</h2>
									<button class="waves-effect waves-red btn #000000 black modal-trigger" data-target="item_model_view">QUICK VIEW</button>
								</div>
							</div>
							<div class="item_description">
								<h5>FASHION DRESS</h5>
								<h6>P700</h6>
								<div class="rating_holder">
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons">star</i></span>
								</div>
							</div>


							
						</div>


						<div class="col m12 l6 s12">
							
							<div class="shop-item">
								<img src="assets//images/rated_sample_5.png">
								<div class="item_overlay">
									<h2>PINK SWEATER</h2>
									<button class="waves-effect waves-red btn #000000 black modal-trigger" data-target="item_model_view">QUICK VIEW</button>
								</div>
							</div>
							<div class="item_description">
								<h5>PINK SWEATER</h5>
								<h6>P570</h6>
								<div class="rating_holder">
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons">star</i></span>
								</div>
							</div>


							
						</div>

						<div class="col m12 l6 s12">
							
							<div class="shop-item">
								<img src="assets//images/rated_sample_1.png">
								<div class="item_overlay">
									<h2>POLKA DRESS</h2>
									<button class="waves-effect waves-red btn #000000 black modal-trigger" data-target="item_model_view">QUICK VIEW</button>
								</div>
							</div>
							<div class="item_description">
								<h5>POLKA DRESS</h5>
								<h6>P999</h6>
								<div class="rating_holder">
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons">star</i></span>
								</div>
							</div>


							
						</div>

						<div class="col m12 l6 s12">
							
							<div class="shop-item">
								<img src="assets//images/rated_sample_2.png">
								<div class="item_overlay">
									<h2>PINK COAT</h2>
									<button class="waves-effect waves-red btn #000000 black modal-trigger" data-target="item_model_view">QUICK VIEW</button>
								</div>
							</div>
							<div class="item_description">
								<h5>PINK COAT</h5>
								<h6>P999</h6>
								<div class="rating_holder">
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons s-active">star</i></span>
									<span><i class="material-icons">star</i></span>
								</div>
							</div>


							
						</div>


					</div> <!-- end row item -->
				</div>

			</div>

			<div class="col m3 s12" style="padding-top: 35px;">
				<div class="content_holder">
					<!-- setting_box -->
					<div class="setting_box">
						<h6>CATEGORIES</h6>
						<div class="setting_content">
							<div class="holder">
								
								<div class="left">
									<a href="#">Dress</a>
								</div>
								<div class="right">
									<label>( 500 )</label>
								</div>
							</div>
							<div class="holder">
								
								<div class="left">
									<a href="#">Sweater</a>
								</div>
								<div class="right">
									<label>( 2,800 )</label>
								</div>
							</div>
							<div class="holder">
								
								<div class="left">
									<a href="#">Shoes</a>
								</div>
								<div class="right">
									<label>( 1,650 )</label>
								</div>
							</div>

						</div>
					</div>
					 <!-- end setting box -->

					 <!-- setting_box -->
					 <div class="setting_box" style="margin-top: 30px;">
					 	<h6>SIZE</h6>

					 	<!-- setting_content -->
					 	<div class="setting_content">
					 		<div class="holder">
					 			<p>
					 			    <label>
					 			       <input type="checkbox" />
					 			       <span>Small</span>
					 			    </label>
					 			</p>
					 		</div>
					 		<div class="holder">
					 			<p>
					 			    <label>
					 			       <input type="checkbox" />
					 			       <span>Meduim</span>
					 			    </label>
					 			</p>
					 		</div>
					 		<div class="holder">
					 			<p>
					 			    <label>
					 			       <input type="checkbox" />
					 			       <span>Large</span>
					 			    </label>
					 			</p>
					 		</div>
					 	</div>
					 	<!-- end setting_content -->
					 </div>
					  <!-- end setting box -->


					  <!-- setting_box -->
					  <div class="setting_box" style="margin-top: 30px;">
					  	<h6>COLOR</h6>

						  	<!-- setting_content -->
						  	<div class="setting_content">
						  		<div class="holder">
						  			<p>
						  			  <label>
						  			    <input  style="color: red" name="group1" type="radio" checked />
						  			    <span>Red</span>
						  			  </label>
						  			</p>
						  		</div>
						  		<div class="holder">
						  			<p>
						  			  <label>
						  			    <input name="group1" type="radio" checked />
						  			    <span>Green</span>
						  			  </label>
						  			</p>
						  		</div>
						  		<div class="holder">
						  			<p>
						  			  <label>
						  			    <input name="group1" type="radio" checked />
						  			    <span>Blue</span>
						  			  </label>
						  			</p>
						  		</div>
						  		<div class="holder">
						  			<p>
						  			  <label>
						  			    <input name="group1" type="radio" checked />
						  			    <span>Purple</span>
						  			  </label>
						  			</p>
						  		</div>
						  	</div>
						  	<!-- end setting_content -->
					  </div>
					   <!-- end setting box -->



				     <!-- setting_box -->
				     <div class="setting_box" style="margin-top: 30px;">
				     	<h6>TAGS</h6>

				   	  	<!-- setting_content -->
				   	  	<div class="setting_content">
				   	  		<div class="chips chips-autocomplete">
				   	  			<div class="chip">Sweater <i class="material-icons close">close</i></div>
				   	  			<div class="chip">Dress <i class="material-icons close">close</i></div>
				   	  			<div class="chip">Jacket <i class="material-icons close">close</i></div>
				   	  			<div class="chip">Shoes <i class="material-icons close">close</i></div>
				   	  			<div class="chip">Hats <i class="material-icons close">close</i></div>
				   	  		</div>
				   	  	</div>
				   	  	<!-- end setting_content -->
				     </div>
				      <!-- end setting box -->


				</div>
			</div>

		</div>


		<ul class="pagination center" style="margin-top: 50px; margin-bottom: 50px;">
		  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
		  <li class="active"><a href="#!">1</a></li>
		  <li class="waves-effect"><a href="#!">2</a></li>
		  <li class="waves-effect"><a href="#!">3</a></li>
		  <li class="waves-effect"><a href="#!">4</a></li>
		  <li class="waves-effect"><a href="#!">5</a></li>
		  <li class="waves-effect"><a href="#!">6</a></li>
		  <li class="waves-effect"><a href="#!">7</a></li>
		  <li class="waves-effect"><a href="#!">8</a></li>
		  <li class="waves-effect"><a href="#!">9</a></li>
		  <li class="waves-effect"><a href="#!">10</a></li>
		  <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
		</ul>
	</div>
	<!-- end container -->


</div> <!-- end main container -->

<app-testimonial></app-testimonial> 
<!-- <app-item-view [productModal]="productModal" ></app-item-view> -->
<app-item-view></app-item-view>
<app-footer></app-footer>